[core]
	excludesfile = ~/.gitignore
	editor = nvim
[push]
	default = current
[alias]
	root = rev-parse --show-toplevel
[user]
	name = Gustav Kofoed Clausen
  email = gustavclausen@users.noreply.github.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
